.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.navi_container {
    display: flex;
}

.navi_container_item {
    margin: 40px;
}

.section_container {
    display: flex
}

.pic_container {
    display: flex;
}

.team_container {
    display: flex;
}

.header_container_item {
    padding: 30px;
    
}
