.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.navi_container {
    display: flex;
}

.navi_container_item {
    margin: 40px;
}

.section_container {
    display: flex
}

.pic_container {
    display: flex;
}

.team_container {
    display: flex;
}

.portfolio_navi_container {
    display: flex;
    justify-content: center;
}

.portfolio_pic_container {
    display: flex;
    flex-wrap: wrap;
}
