html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: inherit;
}

:root {
    --dark: #2e2f42;
    --text: #434455;
    --ocean: #404bbf;
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

body {
    font-family: var(--main-font);
    color: var(--text);
    background-color: #FFFFFF;
    font-size: 16px;;
    letter-spacing: 0.01em;
}

.portfolio_button {
    color: #4D5AE5;
    background-color: #E7E9FC;
    width: 116px;
    height: 48px;
    margin: 12px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.portfolio_button:active {
    background-color: #404BBF;
    color: #FFFFFF;

}

.portfolio_button:hover {
    background-color: #404BBF;
    color: #FFFFFF;

}


.firm_name {
    color: #4D5AE5;
    font-family: Raleway;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;

}

.navigation {
    color: #2E2F42;
    list-style: none;
    font-weight: 500;
    size: 16px;
    line-height: 24px;

}

.navigation_link {
    color: #2E2F42;
    text-decoration: none;
    letter-spacing: 0.01em;
}

.navigation_link:hover {
    color: #404BBF;
}

.navigation_link:active {
    color: #4D5AE5;
}

.contact-links {
    text-decoration: none;
    color: #434455;
}

.contact-links:hover {
    color: #404BBF
}

.contact-links:active {
    color: #4D5AE5;
}

.title_section {
    background-color: #2E2F42;
}

.main_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;
    letter-spacing: 0.02em;

}

.header_button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-family: inherit;
    cursor:pointer;
}

.header_button:hover {
    background-color: #404BBF;
    
}

.target_list {
    list-style: none;
}

.target_titles {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
}

.doing_pics {
    list-style: none;
}

.goals {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.section_title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.01em;
}

.team_section {
    background-color: #F4F4FD;
}

.team_pics {
    list-style: none;
    letter-spacing: 0.01em;
}

.pic_name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
}

.menu_button {
    list-style: none;
}

.porfolio_pics {
    list-style: none;
}

.pic_description {
    color: #2E2F42;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.footer {
    background-color: #2E2F42;
}

.footer_text {
    color: #F4F4FD;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 24px;
}