html {
    box-sizing: border-box;

}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.button {
    width: 116px;
    height: 48px;
    margin: 12px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
}

.button:active {
    background-color: #404BBF;
    color: #FFFFFF;

}

.button:hover {
    background-color: #404BBF;
    color: #FFFFFF;

}

.firm_name {
    color: #4D5AE5;
    font-family: Raleway;
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;

}

.navigation {
    color: #2E2F42;
    list-style: none;
    font-weight: 500;
    size: 16px;
    line-height: 24px;

}

.navigation_link {
    color: #2E2F42;
    text-decoration: none;
}

.navigation_link:hover {
    color: #404BBF;
}

.navigation_link:active {
    color: #4D5AE5;
}

.contact-links {
    text-decoration: none;
    color: #434455;
    padding: 20px;
}

.contact-links:hover {
    color: #404BBF
}

.contact-links:active {
    color: #4D5AE5;
}

.title_section {
    background-color: #2E2F42;
}

.main_title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFFFF;

}

.header_button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    line-height: 24px;
    font-family: inherit;
}

.header_button:active {
    background-color: #2837db;
    ;
}

.target_list {
    list-style: none;
}

.target_titles {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    padding: 4px;
}

.doing_pics {
    list-style: none;
}

.goals {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    padding: 4px;
}

.section_title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
}

.team_section {
    background-color: #F4F4FD;
}

.team_pics {
    list-style: none;
}

.pic_name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
}

.menu_button {
    list-style: none;
}

.porfolio_pics {
    list-style: none;
}

.pic_description {
    color: #2E2F42;
    font-weight: 400;
    font-size: 16px;
}

.footer {
    background-color: #2E2F42;
}